.form{
    background-color:rgb(220, 215, 207);
    margin: 30px 30px;
    margin-bottom: 40px;
    border: grey 1px solid;
    padding: 20px;
    border-radius: 6px;
    /* border: none; */
}

.div{
    width: 100%;
    display: flex;
    margin: 10px 0;
    align-items: center;
}

.baby{
    width: 20%;
}

.box{
    width: 50%;
    height: 20px;
}

.submit{
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: 1px grey solid;
    background-color: #ffffff;
    cursor: pointer;
    margin-left: 300px;
}